In [39]:
import pandas as pd
import scipy.stats as stats

In [2]:
data = pd.read_csv('C:\\Users\\r.pan\\Desktop\\CSUF\\577\\data\\updated_outputWzipcode.csv')

In [3]:
data.head()

,Unnamed: 0,Postal Code,Latitude,Longitude,Year,Month,Day,Hour,Minute,DHI,...,Cloud Type,Dew Point,Fill Flag,GHI,Relative Humidity,Solar Zenith Angle,Surface Albedo,Pressure,Precipitable Water,Wind Direction
0,0,92624.0,33.45,-117.66,2010,1,1,0,30,0,...,7,2.0,0,0,61.77,166.91,0.091,1020,1.640,71.3
1,1,92624.0,33.45,-117.66,2010,1,1,1,30,0,...,4,1.0,0,0,58.43,156.51,0.091,1020,1.659,67.5
2,2,92624.0,33.45,-117.66,2010,1,1,2,30,0,...,1,0.0,0,0,55.57,144.34,0.091,1020,1.676,68.4
3,3,92624.0,33.45,-117.66,2010,1,1,3,30,0,...,0,0.0,0,0,54.06,131.85,0.091,1020,1.706,69.9
4,4,92624.0,33.45,-117.66,2010,1,1,4,30,0,...,3,0.0,0,0,53.25,119.41,0.091,1020,1.756,71.8

In [7]:
data['Postal Code'].nunique()

69

In [11]:
ziplist = data['Postal Code'].unique().tolist()

In [13]:
i = 1
for zipcode in ziplist:
    locals()['zip_{0}'.format(i)] = data[data['Postal Code']==zipcode]
    i = i + 1

In [36]:
alllist = data.groupby(['Postal Code','Year','Hour'])['GHI'].mean().to_frame()

In [37]:
alllist = alllist[alllist['GHI']!=0]

In [38]:
alllist

                              GHI
Postal Code Year Hour
90620.0     2010 5      18.219178
                 6      92.013699
                 7     198.575342
                 8     368.947945
                 9     532.093151
...                           ...
92887.0     2019 14    532.887671
                 15    384.076712
                 16    216.646575
                 17     82.945205
                 18     12.128767

[9660 rows x 1 columns]

In [29]:
b = zip_1.groupby(['Year','Hour'])['GHI'].mean()

In [43]:
zip_1_1 =zip_1[zip_1['GHI']!=0]

In [53]:
zip_1[(zip_1['Year'] == 2010 ) & (zip_1['Hour'] == 5)]['GHI']

5       0
29      0
53      0
77      0
101     0
       ..
8645    0
8669    0
8693    0
8717    0
8741    0
Name: GHI, Length: 365, dtype: int64

In [58]:
stats.f_oneway(zip_1[(zip_1['Year'] == 2010 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2011 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2012 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2013 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2014 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2015 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2016 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2017 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2018 ) & (zip_1['Hour'] == 12)]['GHI'],
               zip_1[(zip_1['Year'] == 2019 ) & (zip_1['Hour'] == 12)]['GHI'])

F_onewayResult(statistic=1.995890188116623, pvalue=0.035922734306593)

In [59]:
stats.f_oneway(zip_1[(zip_1['Year'] == 2010 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2011 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2012 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2013 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2014 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2015 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2016 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2017 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2018 ) & (zip_1['Hour'] == 15)]['GHI'],
               zip_1[(zip_1['Year'] == 2019 ) & (zip_1['Hour'] == 15)]['GHI'])

F_onewayResult(statistic=0.8512343469650742, pvalue=0.5686968502832137)

In [57]:
stats.f_oneway(zip_1[(zip_1['Year'] == 2010 )]['GHI'],
               zip_1[(zip_1['Year'] == 2011 )]['GHI'],
               zip_1[(zip_1['Year'] == 2012 )]['GHI'],
               zip_1[(zip_1['Year'] == 2013 )]['GHI'],
               zip_1[(zip_1['Year'] == 2014 )]['GHI'],
               zip_1[(zip_1['Year'] == 2015 )]['GHI'],
               zip_1[(zip_1['Year'] == 2016 )]['GHI'],
               zip_1[(zip_1['Year'] == 2017 )]['GHI'],
               zip_1[(zip_1['Year'] == 2018 )]['GHI'],
               zip_1[(zip_1['Year'] == 2019 )]['GHI'])

F_onewayResult(statistic=2.5878408466132496, pvalue=0.005580090336935954)

In [40]:
alllist.to_csv('all-yearly-mean.csv')